# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
.Python

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Python-specific
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Token or credential files (optional, if you ever use them)
*.env
*.secret
*.token

bot_tele_log.txt

